@model ProjectASP.Models.Product
@{
Layout = "_Layout";
ViewData["Title"] = "Product Details";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-4">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4"> 
                <div class="ms-3">
                    <img src="@Model.img" style="height:310px; width:300px" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-8">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4"> 
                <div class="ms-3">
                    <div>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.name)
                            </dt>
                            <dd class="col-sm-10">
                                <h3><strong style="color:darkred">@Html.DisplayFor(model => model.name)</strong></h3>
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.price)
                            </dt>
                            <dd class="col-sm-10">
                                <b style="color:goldenrod"> @Html.DisplayFor(model => model.price)</b>
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.quantity)
                            </dt>
                            <dd class="col-sm-10">
                                <i style="color:ghostwhite">@Html.DisplayFor(model => model.quantity)</i>
                            </dd>
                                        
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Category)
                            </dt>
                            <dd class="col-sm-10">
                                <i style ="color:ghostwhite"> @Html.DisplayFor(model => model.Category.name)</i>
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.description)
                            </dt>
                            <dd class="col-sm-10">
                                <em style="color:ghostwhite">@Html.DisplayFor(model => model.description)</em>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
