@model IEnumerable<ProjectASP.Models.Product>

@{
Layout = "_Layout";
ViewData["Title"] = "Product";
}
<div class="container-fluid pt-4 px-4">
<div class="row g-4">
    <form class="input-group w-50 float-right" asp-action="Index" method="get">
        <input type="text" class="form-control" placeholder="Search for" name="search" value="@ViewData["Search"]"  />
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </form>
    <div class="col-12 bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0"> List Product</h6>
            <a asp-action="Create" >Create New</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.img)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                <img src="@item.img" style="height:50px; width:50px">
                            </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <tr>
                <td colsap="2">
                    @{
                        int pages = (int)ViewData["Pages"];
                        int p = (int)ViewData["Page"];
                    }
                    <form asp-action="Index" method="get">

                        <input type="submit" value="Go to" /> page <input type="number" max="@pages" min="1" value="@p" name="page" /> of @pages
                    </form>
                </td>
            </tr>
        </div>
    </div>
</div>
                